.newPacientButton {
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    border: none;
    padding: 0 10px;
    transition: background-color 0.2s;
}

.newPacientButton:hover {
    background-color: var(--gray-dark);
}