.timer {
    font-family: monospace;
    display: inline-flex;
    align-items: center;

    background-color: var(--gray);
    height: 30px;
    padding: 0 12px;
    border-radius: 8px;

    font-size: 12px;

    border: var(--gray-mid) solid 1px;
    color: var(--gray-dark);
}

.timeDigit {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 2ch;
    text-align: center;
}

.timeDivider {
    margin: 0 0.2rem;
}