.patientContainer {
    display: flex;
    background-color: var(--gray);
}

.filterBoard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--white);
    width: 15%;
    height: 92.5dvh;
    padding-top: 25px;
    align-items: center;
    border-right: 1px solid var(--gray-mid);
}

.dashBoard {
    width: 85%;
    margin: 25px;
}

.priorityCardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-content: center;
}