.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
}

.label {
    font-size: 15px;
    color: var(--text-2);
}

.input {
    font-size: 13.5px;
    padding: 9px 12px;
    border: 0.5px solid var(--gray-mid);
    border-radius: 10px;
    color: var(--text-2);
}

.input:focus {
    border: 0.5px solid var(--black);
}

.textarea {
    padding: 9px 12px;
    border: 0.5px solid var(--gray-mid);
    font-family: "DM Sans", sans-serif;
    width: 100%;
    min-height: 55px;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 10px;
}

.textarea:focus {
    border: 0.5px solid var(--black);
}